<h1>New Appointment Created</h1>

<p>Unique ID: <%= @appointment.unique_id %></p>
<p>Package: <%= @appointment.package %></p>
<p>Provider: <%= @appointment.provider %></p>
<p>Time: <%= @appointment.time %></p>
